thead,
tfoot {
    background-color: #eaeaea;
    color: black;
}

* {
  color: #505050;
}

thead td, tfoot td {
  color: black;
}

tbody {
    background-color: white;
}

caption {
    padding: 10px;
    caption-side: top;
    color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width: 450px;
    margin-bottom: 25px;
    margin-left: 50px;
}

*[data-deltaV2=B] {
  background-color: #cafaca
}
*[data-deltaV2=A] {
  background-color: #facaca
}


thead[data-deltaV2=B], 
thead td[data-deltaV2=B],
tfoot[data-deltaV2=B],
tfoot td[data-deltaV2=B] {
  background-color: #aadaaa
}

thead[data-deltaV2=A], 
thead td[data-deltaV2=A],
tfoot[data-deltaV2=A],
tfoot td[data-deltaV2=A] {
  background-color: #daaaaa
}

td,
th {
    border: 1px solid rgb(100, 100, 100);
    padding: 5px 10px;
}

td {
    text-align: center;
}

table[data-deltaV2=A],choicetable[data-deltaV2=A] {
  border-style: dashed;
  border-collapse: separate;
  border-color: red;
}

section {
  margin: 10px 10px 10px 10px;
  border-bottom: 1px solid rgb(190, 190, 190);
}


